@import "react-toastify/dist/ReactToastify.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------------- HEADER ------------ */
@import url("./frontend/styles/header.css");

/* ---------------- HOME PAGE ------------ */
@import url("./frontend/styles/homePage.css");

/* ---------------- AUTH PAGE ------------ */
@import url("./frontend/styles/authPage.css");

/* ---------------- EXPLORE PAGE ------------ */
@import url("./frontend/styles/explorePage.css");

/* ---------------- Video PAGE ------------ */
@import url("./frontend/styles/video-page.css");
